<style>
  #errorForm{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2e2e2e;
    padding: 20px;
    border: none;
    border-radius: 25px;
    width: 350px;
    height: 190px;
    align-items: center;
  }

  #errorTitle{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #4682B4;
    text-align: center;
  }

  #errorForm{
  }

  #errorForm button{
    text-align: center;
    color: white;
  }

  #errorMes{
    text-align: center;
    color: white;
  }

  #errorMessage{
    text-align: center;
    color: white;
  }

  #errorForm button{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    border-radius: 25px;
    border: none;
    width: 35%;
    height: 35px;
    color: white;
    background-color: #DC143C;
    margin-left: 114px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #errorForm button:hover {
    background-color: #DC143C;
  }
</style>
<div id="errorForm">
  <div id="errorContent"></div>
  <p id="errorTitle">Тут ошибочка<br>вышла...</p>
  <p id="errorMessage"></p>
  <p th:text="${errorMessage}" id="errorMes"></p>
  <button onclick="closeModal()">Закрыть</button>
</div>
<script>
  function closeModal() {
    document.getElementById("errorForm").style.display = "none";
    window.location.href = window.location.pathname;
  }
</script>